<section id="tree">
  <h1>Healing Tree</h1>
  <div class="selection menu">
    <h2>Menu</h2>
  </div>
  <div class="selection about">
    <h2>About</h2>
  </div>
  <div class="selection blog">
    <h2>Blog/News</h2>
  </div>
  <div class="selection faq">
    <h2>FAQ</h2>
  </div>
  <div class="selection join">
    <h2>Join us</h2>
  </div>
</section>
  
