<section id="menu-wrapper" class="small-12 columns">  
  
  <div class="filter-container small-12 medium-4 large-3 columns">
    <div class="filter all small-4 medium-12 large-12 columns">
      <h2>All</h2>
    </div>
    <div class="filter indica small-4 medium-12 large-12 columns">
      <h2>Indica</h2>
    </div>
    <div class="filter sativa small-4 medium-12 large-12 columns">
      <h2>Sativa</h2>
    </div>
    <div class="filter search small-4 medium-12 large-12 columns">
      <input type="text" class="search" name="search" placeholder="search"></input>
    </div>
  </div>

  <div class="product-container small-12 medium-8 large-9 columns">
    <ul data-orbit></ul>
  </div>
</section>

<div class="product-list small-12 columns"></div>

<br>

<%= link_to 'New Menu', new_menu_path %>
