<section id="faq">
  <h2>FAQ</h2>
  <ul class="accordion" data-accordion>
  <% @faqs.each do |faq|  %>
    <li class="accordion-navigation">
      <a href="#panel_<%= faq.id %>"><%= faq.question %></a>
      <div id="panel_<%= faq.id %>" class="content active"><%= faq.answer %></div>
    </li>
  <% end %>
  </ul>
</section>

