<section id="blogs-wrapper">

  <h1>News</h1>

  <% @blogs.each do |blog| %>
    <div class="blog-container">
      <h1><%= blog.title %></h1>
      <h2><%= blog.author %></h2>
      <h4><%= blog.content%></h4>
      <h5>Posted on:<%= blog.created_at.strftime("%d %b. %Y") %></h5>
    </div>
  <% end %>

</section>

