// Place all the styles related to the menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#menu-wrapper {
	.filter-container {
		display: inline-block;
		position: inherit;
		margin-right: 2.5;
		.filter {
			background-color: $healing-green;
			margin-top: 5px;
			h2 {
				text-align: center;
				line-height: 2.5;
			}
			input {
				border: none;
				background: #fff;
				border-radius: 5px;
				color: #fff;
				width: 90%;
				margin: 5%;
			}
			@media #{$medium-up} {
				height: 100px;	
			}
			@media #{$small-only} {
				display: inline-block;
			}
		}
		.filter.search {
			height: 50%;
			@media #{$small-only} {
				width: 100%;
			}
		}
	}

	.filter.active {
		opacity: 0.8;
	}

	.product-container {
		display: inline-block;
		background: assets-url("vine.png");
		height: 400px;
		.slide {
			height: 400px;
			img {
				@media #{$large-up} {
					width: 50%;
					margin-right: 25%;
					margin-left: 25%;
				}
				@media #{$medium-only} {
					width: 70%;
					margin-right: 15%;
					margin-left: 15%;
				}
				@media #{$small-only} {
					width: 90%;
					margin-left: 5%;
					margin-right: 5%;
				}
			}
		}
	}
}

.list-item {
	width: 30;
	text-align: center;
	img {
		width: 50%;
		margin-right: 25%;
		margin-left: 25%;
		margin-top: 2.5%;
	}
	h3 {
		color: #000;	
	}
}

.list-item.active {
	background-color: $healing-green;
}

.list-item:hover {
	background-color: $healing-green;
	@include center-block();
}

.orbit-next, .orbit-prev {
	background-color: $healing-green !important;
}