nav {
	background-color: $healing-green;
	@media #{$medium-up} {
		height: 100px;
	}
	@media #{$small-only} {
		height: 80px;
	}
	@include scaling;		
	h2 {
		text-align: center;
		float: left;
		@media #{$large-up} {
			width: 50%;
			font-size: 50px;
			line-height: 2;
		}
		@media #{$medium-only} {
			width: 60%;
			font-size: 40px;
			line-height: 2;
		}
		@media #{$small-only} {
			font-size: 7vw;
			line-height: 2;
		}
	}
	.menu {
		@media #{$medium-only} { display: none; }
		@media #{$small-only} { display: none; }
		@media #{$large-up} {
			display: visible;
			width: 50%;
			height: 100%;
			margin-top: 5px;
			float: right;
			font-family: "Meditation";
			@media #{$large-up} { font-size: 50px; }
			@media #{$medium-only} { font-size: 40px; }
			@media #{$small-only} { font-size: 40px; }
		}
		span {
			float: right;
			top: 30px;
			margin: 2.0%;
		}
	}
}

//drop down menu
.drop-down-menu {
	margin: -400px;
	display: none;
	@include transition(margin, 1.0, ease-in-out);
}

.drop-down-menu.active {
	@include scaling;
	@include transition(margin, 1.0, ease-in-out);
	display: block;
	position: inherit;
	margin: 0px;
	height: 400px; 
	list-style-type: none;
	@media #{$large-up} {display: none;}
	li {
		background-color: $healing-green;
		font-size: 60px;
		font-family: "Meditation";
		height: 20%;
		text-align: center;
	}	
	li:hover {
		opacity: 0.9;
	}
}

//burger
.burger-menu {
	@media #{$large-up} { display:none }	
	float: right;
  cursor: pointer;
  margin: 0 auto;
  padding-left: 1.25em;
  position: relative;
  width: 40px;	 
}
.menu-global {
  backface-visibility: hidden;
  position: absolute;
  left: -50px;
  border-top: 7px solid $healing-purple;
  width: 100%;
  height: 20px;
  transition: 0.55s;
}
.menu-top {
  top: 30px;
}
.menu-middle {
  top: 44px;
}
.menu-bottom {
  top: 60px;
}
.menu-top-click {
  backface-visibility: hidden;
  top: 40px;
  transform: rotate(50deg);
  transition: 0.55s 0.5s;
}
.menu-middle-click {
  opacity: 0;
}
.menu-bottom-click {
  backface-visibility: hidden;
  top: 40px;
  left: -40px;
  transform: rotate(-410deg);
  transition: 0.55s 0.5s;
}