// Place all the styles related to the splashes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tree {
	background-image: url(/assets/tree.png);
	background-size: 100% 100%;
	height: 800px;
	width: 80%;
	.selection {
		position: absolute;
	}
	.menu {
		top: 10%;
		left: 10%;
	}
	.about {
		top: 10%;
		left: 70%;
	}
	.blog {
		top: 70%;
		left: 10%;
	}
	.faq {
		top: 70%;
		left: 70%;
	}
}