// Place all the styles related to the splashes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tree {
	background-image: url(/assets/tree.png);
	@media #{$small-only} {
		display: none;
	}
	@media #{$medium-only} {
		background-size: 500px 500px;
	}
	@media #{$large-up} {
		background-size: 600px 600px;
	}
	background-repeat: no-repeat;
	background-position: 50% 20%;
	height: 800px;
	width: 80%;
	.selection {
		position: absolute;
	}
	.menu {
		top: 10%;
		left: 10%;
	}
	.about {
		top: 10%;
		left: 70%;
	}
	.blog {
		top: 50%;
		left: 10%;
	}
	.faq {
		top: 50%;
		left: 70%;
	}
	.join {
		top: 50%;
	}
}