// Place all the styles related to the splashes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#tree-wrapper {
	background-image: url(/assets/tree.png);
	background-color: $off-white;
	@include scaling;
	@media #{$small-only} {
		background-size: 200px 200px;
		height: 250px;
	}
	@media #{$medium-only} {
		background-size: 300px 300px;
		height: 350px;
	}
	@media #{$large-up} {
		background-size: 400px 400px;
		height: 450px;
	}
	background-repeat: no-repeat;
	background-position: 50% 20%;
	height: 82.5vh;
	width: 80%;
	.selection {
		position: absolute;
		a {
			color: #000;
		}
	}
	.menu {
		top: 10%;
		left: 10%;
	}
	.about {
		top: 10%;
		left: 70%;
	}
	.blog {
		top: 50%;
		left: 10%;
	}
	.faq {
		top: 50%;
		left: 70%;
	}
	.join {
		top: 50%;
	}
}

#slider-wrapper {
	background-color: #fff;
}